:root {
  --gray: #6D6D6D;
  --white:#ACACAC ;
  --mauve:#7E6CF1;
  --purple:#A41CE3;
  --pink:#B41593;
  --red:#F8053F;
  --black:#313131;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.contaner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* small */
@media (min-width:768px) {
  .contaner {
    width: 750px;
  }
}

/* meduim */
@media (min-width:992px) {
  .contaner {
    width: 980px;
  }
}

/* large */
@media (min-width:1200px) {
  .contaner {
    width: 1170px;
  }
}

.load {
  position: fixed;
  width: 100%;
  height: 100%;
  background:radial-gradient(var(--white),var(--gray));
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.load div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color:var(--gray);
  border: 5px solid var(--black);
  border-left-color: transparent;
  animation: load 2s  linear infinite;
}

section {
  height: 100vh;
  background: radial-gradient(var(--white),var(--gray));
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

header .prandname {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -193px;
  opacity: 0;
  transition: 0.3s;
  animation: movefl 1s linear forwards;
}

header .prandname img {
  border-radius: 50%;
  width: 40px;
  margin-right: 7px;
  border: 2px solid var(--black);
}

header .prandname h1 {
  font-size: 17px;
  font-weight: 800;
  color: var(--black);
}

header .choose {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -389px;
  opacity: 0;
  transition: 0.3s;
  animation: movefr 1s linear forwards;
}

header .choose ul {
  list-style: none;
  display: flex;
}

header .choose ul li {
  margin: 0px 28px;
}

header .choose ul li a{
  text-decoration: none;
  display: block;
  padding: 34px 0px;
  color: var(--black);
  font-weight: 700;
}

header .choose button {
  background: linear-gradient(131deg,var(--mauve),var(--purple),var(--pink),var(--red));
  border: 0px;
  padding: 11px 24px;
  border-radius: 15px;
  margin-left: 21px;
}

header .choose button a {
  text-decoration: none;
  color: var(--black);
  font-weight: 700;
}

@media (max-width:550px) {
  header .choose ul li {
    margin: 0px 8px;
  }
  header .choose button {
    margin-left: 7px;
    padding: 10px 17px;
  }
}

.design {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.design .ball {
  position: relative;
  top:-321px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(131deg,var(--mauve)20%,var(--purple),var(--pink),var(--red));
  transition: 0.3s;
  animation: movefu 2s linear forwards;
}

.design .model {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 41px;
}

.design .model p {
  position: absolute;
  left: -122%;
  top: 35%;
  font-size: 36px;
  font-weight: 600;
  transform: rotate(8deg);
  opacity: 0;
  color: var(--black);
  transition: 0.3s;
  animation: mfl 3s linear forwards;
}

.design .model img {
  position: relative;
  width: 500px;
  top: 714px;
  opacity: 0;
  transition: 0.3s;
  animation: actor 0.9s linear 1s forwards;
}

.design .model span {
  position: absolute;
  background: linear-gradient(131deg,var(--mauve)20%,var(--purple),var(--pink),var(--red));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 180%;
  top: 32%;
  font-size: 40px;
  font-weight: 600;
  opacity: 0;
  transform: rotate(8deg);
  transition: 0.3s;
  animation: mfr 3s linear forwards;
}

@media (max-width:550px) {
  .design .model p {
    font-size: 26px;
    margin-left: 61px;
  }
  .design .model span {
    font-size: 32px;
  }
  .design .model {
    left: -48px;
  }
}

/* animation */
@keyframes movefl {
  0% {
    left: -100px;
    opacity: 0;
  }
  50% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes movefr {
  0% {
    right: -100px;
    opacity: 0;
  }
  50% {
    right: -50px;
    opacity: 0;
  }
  100% {
    right: 0px;
    opacity: 1;
  }
}

@keyframes movefu {
  25% {
    transform: rotate(0deg);
    top: 0px;
  }
  50% {
    transform: rotate(180deg);
    top: 0px;
  }
  55% {
    transform: rotate(180deg);
    top: 0px;
  }
  100% {
    transform: rotate(-360deg);
    top: 0px;
    width: 215px;
    height: 215px;
  }
}

@keyframes mfl {
  33% {
    opacity: 1;
    left: 14%;
  }
  66% {
    opacity: 1;
    left: -6%;
  }
  100%{
    opacity: 1;
    left: -3%;
  }
}

@keyframes mfr {
  33% {
    left: 47%;
    opacity: 1;
  }
  66% {
    left: 64%;
    opacity: 1;
  }
  100%{
    left: 61%;
    opacity: 1;
  }
}

@keyframes actor {
  to {
    top:0px;
    opacity: 1;
  }
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
